* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: StratosSkyeng;
    font-weight: 400;
    src: url('./fonts/stratosskyengweb-regular.woff');
}

body {
    font-family: StratosSkyeng, sans-serif;
}

/* .center {
    padding-left: calc(50% - 272px);
    padding-right: calc(50% - 272px);
} */

.app {
    background-color: #004980;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.level-selection {
    background-color: #c2f5ff;
    width: 480px;
    height: 459px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}

.title {
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #004980;
    width: 208px;
}

.level-toolbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: 50px;
    column-gap: 20px;
}

.level-toolbar input[type='radio'] {
    display: none;
}

.level-toolbar label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 98px;
    width: 98px;
    background-color: #fff;
    border-radius: 12px;
    border: none;
    font-family: StratosSkyeng, sans-serif;
    font-weight: 400;
    font-size: 64px;
    line-height: 78px;
    color: #0080c1;
    cursor: pointer;
}

.level-toolbar label:hover {
    box-sizing: border-box;
    background-color: #d0ffb7;
    border: 1px solid #1ca92e;
}

.level-toolbar input[type='radio']:checked + label {
    box-sizing: border-box;
    background-color: #d0ffb7;
    border: 1px solid #1ca92e;
}

.button {
    width: 246px;
    height: 50px;
    background-color: #7ac100;
    border-radius: 12px;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #fff;
    cursor: pointer;
}

.game-app {
    background-color: #004980;
    height: 100vh;
}

.header-game {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 40px;
    align-items: center;
}

.timer-box {
    width: 155px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.timer-text {
    display: flex;
    gap: 50px;
    justify-content: end;
    padding-right: 8px;
}

.timer-text-style {
    font-family: StratosSkyeng, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: #fff;
}

.timer {
    font-family: StratosSkyeng, sans-serif;
    font-size: 64px;
    font-weight: 400;
    line-height: 72px;
    color: #fff;
    text-align: end;
}

.cards-container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(9, 1fr);
    justify-items: center;
    margin-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
}

.cards-item {
    grid-column: span 1;
    width: 95px;
    height: 133px;
}
